<%- include partials/header.ejs %>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">ITT 2018</a>
	</nav>

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">ITT</h1>
			<p class="lead">Outil pour calculer simplement une ITT</p>
		</div>
	</div>

	<div class="container text-center">
		<div class="row">
			<div class="col"></div>
			<div class="col">
				
				<a href="/itt" class="btn btn-dark btn-lg">Commencer</a>


			</div>

			<div class="col"></div>
		</div>
	</div>

	
	
</body>
<%- include partials/footer.ejs %>
